{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block content %}
    <div class="post_block">
        <div class="image">
            {% if post.image %}
                <img src="/media/{{ post.image }}" alt="">
            {% else %}
                <img src="{% static 'img.png' %}" alt="">
            {% endif %}
        </div>
        <div class="info">
            <h1>{{ post.title }}</h1>
            <h4>{{ post.description }}</h4>
            <h4>Rate: {{ post.rate }}</h4>
            <div class="dates">
                <p>{{ post.created_date }}</p>
                <p>{{ post.modified_date }}</p>
            </div>
        </div>
        <div class="create_review">
            <form action="/products/{{ post.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add review">
            </form>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review_block">
                    <h5>{{ review.text }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}