{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .Post {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            flex-wrap: wrap;
        }
        .image > img {
            width: 100%;
        }
    </style>
    <form action="/products/" method="get">
        <label>
            <input type="text" name="search">
        </label>
        <label>
            <input type="submit" value="Search">
        </label>
    </form>
        <div class="Post">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="/media/{{ post.image }}/" alt="">
                    </div>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate: {{ post.rate }}</h6>
                    <a href="/products/{{ post.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
    {% endfor %}
    </div>
{% endblock %}