.post_block {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}
.dates {
    display: flex;
    justify-content: space-between;
}

.reviews {
    margin-top: 30px;
}

.review_block {
    background: #242b2e;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.image > img {
    max-width: ;
}